.app-container {
  min-height: 100vh;

  margin: 0;

  padding: 0;

  background:
    linear-gradient(
      135deg,
      #0A2947,
      #081c31
    );

  color: #F3E4C9;
}



.hero {

    text-align: center;

    margin-bottom: 50px;

}



.hero h1 {


    font-size: 48px;

    font-weight: 800;

    background:

    linear-gradient(
        90deg,
        #F3E4C9,
        #D3D4C0
    );


    -webkit-background-clip:text;

    color:transparent;


}



.hero p {


    font-size:20px;

    color:#D3D4C0;

}